.quizContainer{
    border: 1px solid black;
    width: 40%;
    padding: 30px 10px 30px 70px;
    /*background-color: black;*/
    margin: 10% 5% 15% 25%;
    color: black;
}
h2{
    background-image: linear-gradient(yellow,green);
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 9%;
}
ul{
    padding: 0%;
    margin: 0%;
}
ul li{
    list-style-type: none;
    border-bottom: 1px solid grey;
    color: white ;
    padding: 10px;
    width: 80%;
    font-size: 18px;
}
#submit{
    padding: 10px 30px;
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
    margin-left: 30%;
    background-image: linear-gradient(rgb(220, 220, 26),green);
    
}
body{
    background-color: rgb(209, 206, 206);
}